.comment{
	overflow: auto;
	height: calc(100vh - 120px - 310px);
	border-radius: 15px;
	&::-webkit-scrollbar {
		width: 14px;/* ширина scrollbar */
	}
	&::-webkit-scrollbar-track {
		background: transparent;/* цвет дорожки */
	}
	&::-webkit-scrollbar-thumb {
		background-color: $orange;/* цвет плашки */
		border-radius: 10px;/* закругления плашки */
		border: 5px solid $white;
	}
	&__item{
		position: relative;
		background-color: $orange;
		min-height: 80px;
		border-radius: 15px;
		padding: 30px 30px 12px 30px;
		&:not(:last-child){
			margin-bottom: 30px;
		}
		.date{
			position: absolute;
			bottom: 12px;
			right: 30px;
			font-weight: 600;
			font-size: 14px;
			line-height: 1;
			color: $white;
		}
		.name{
			font-weight: 600;
			font-size: 18px;
			line-height: 1;
			color: $white;
			margin-bottom: 10px;
		}
		.text{
			font-weight: 600;
			font-size: 14px;
			line-height: 1.5;
			color: $white;
			margin-bottom: 12px;
		}
		.control{
			display: flex;
			align-items: center;
			.link{
				&:not(:last-child){
					margin-right: 12px;
				}
				svg{
					width: 30px;
					height: 30px;
					fill: $white;
				}
			}
		}
	}
}